.text-default-color {
  color: #007bff;
}

.text-card-color {
  color: #ffffff;
}

.background-default-icon-color {
  background-color: #007bff !important;
}

.full-viewport-height {
  height: 100vh !important;
}
